<!-- Title group  -->
<div class="title-group">
    <h1 class="mat-h1">Edit Account</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
</div>
  
  <!-- Form -->
  <div class="inner-wrapper">
    <form [formGroup]="accountForm" (ngSubmit)="updateAccountForm()" #resetAccountForm="ngForm" novalidate>
      <!-- Left block -->
      <mat-card>
        <div class="controlers-wrapper">
          <!-- Name -->
          <mat-form-field class="example-full-width">
            <mat-label>Account Name</mat-label>
            <input matInput placeholder="Account name" formControlName="account_name">
            <mat-error *ngIf="handleError('account_name', 'required')">
              You must provide a<strong>account name</strong>
            </mat-error>
          </mat-form-field>
  
          <!-- Email -->
          <mat-form-field class="example-full-width">
            <mat-label>Account</mat-label>
            <input matInput placeholder="Account email" formControlName="account_email">
            <mat-error *ngIf="handleError('account_email', 'required')">
              You must provide a<strong>account email</strong>
            </mat-error>
          </mat-form-field>
  
          <!-- Account Number -->
        <mat-form-field class="example-full-width">
            <mat-label>Account Number</mat-label>
            <input
              matInput
              placeholder="Account Number"
              formControlName="account_number">
            <mat-error *ngIf="handleError('account_number', 'required')">
              You must provide a <strong>account number</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card>
  
      <!-- Right block -->
      <mat-card>
        <div class="controlers-wrapper">
          <!--Add Phone-->
        <mat-form-field class="example-full-width">
            <mat-label>Phone Number</mat-label>
            <input
              matInput
              placeholder="Phone"
              formControlName="phone"
            />
            <mat-error *ngIf="handleError('phone', 'required')">
              You must provide <strong>account phone number</strong>
            </mat-error>
          </mat-form-field>
  
          <!-- Date of birth -->
          <mat-form-field>
            <input matInput readonly [matDatepicker]="picker" placeholder="Date of birth" formControlName="dob"
              (dateChange)="formatDate($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="handleError('dob', 'required')">
              Date of birth is required
            </mat-error>
          </mat-form-field>
  
          <!-- Gender -->
          <div class="misc-bottom-padding">
            <mat-label>Gender:</mat-label>
            <mat-radio-group aria-label="Select an option" formControlName="gender">
              <mat-radio-button value="Male">Male</mat-radio-button>
              <mat-radio-button value="Female">Female</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </mat-card>
  
      <!-- Submit & Reset -->
      <mat-card>
        <div class="full-wrapper button-wrapper">
          <div class="button-wrapper">
            <button mat-flat-button color="warn">Update</button>
          </div>
        </div>
      </mat-card>
    </form>
  </div>